<div [className]="isSelected ? 'selected' : 'normal'" 
  (click)="handleCategoryClicked()" #container>
  <input i18n-placeholder [className]="editMode ? (titleError == null ? null : 'invalid') : 'hidden'"
    [readonly]="!editMode"
    [value] ="title" 
    (focusout)=handleFocusLeaving()
    (input)="handleTitleChanged($event.target.value)" 
    (keydown.enter)="handleSaveShortcut()"
    (keydown.control.s)="handleSaveShortcut($event)"
    placeholder="{{titleError == null ? Titel : titleError}}"
    #titleInput>
  <button *ngIf="editMode"
    (click)="handleDeleteButtonClicked()" 
    (pointerenter)="handlePointerEnter()" 
    (pointerleave)="handlePointerLeave()">
    <i class="fa fa-times"></i>
  </button>
  <button class="editButton" 
    *ngIf="!editMode" #editButton
    (click)="handleEditButtonClicked()">
    <i class="fas fa-pencil-alt" aria-hidden="true"></i>
  </button>
</div>
