.container {
    display: grid;
    grid-template-rows: 40px 1fr;
    grid-template-columns: auto 1fr;
    margin: 0px;
    padding: 0px;
    height: 100%;
}

app-notification-list {
    position: absolute;
    right: 30px;
    bottom: 10px;
    width: 400px;
    height: auto;
}