<div [className]="isSelected ? 'selected' : 'normal'" 
  (click)="handleCategoryClicked()" #container>
  <input [className]="editMode ? (titleError == null ? null : 'invalid') : 'hidden'"
    [readonly]="!editMode"
    [value] ="title" 
    (focusout)=handleFocusLeaving()
    (input)="handleTitleChanged($event.target.value)" 
    (keydown.enter)="handleSaveShortcut(null)"
    (keydown.control.s)="handleSaveShortcut($event)"
    placeholder="{{titleError == null ? ('General.Title' | translate) : titleError}}"
    #titleInput>
  <div *ngIf="editMode; then deleteButton else editButton"></div>
</div>

<ng-template #deleteButton>
  <button
    (click)="handleDeleteButtonClicked()" 
    (pointerenter)="handlePointerEnter()" 
    (pointerleave)="handlePointerLeave()">
    <i class="fa fa-times"></i>
  </button>
</ng-template>
  
<ng-template #editButton>
  <button class="editButton"  
    (click)="handleEditButtonClicked()">
    <i class="fas fa-pencil-alt" aria-hidden="true"></i>
  </button>
</ng-template>