<div class="grid">
  <div id="topBar">
    <label class="categoryLabel">{{title}}</label>
    <app-filter-input (textChanged)="handleFilterTextChanged($event)"></app-filter-input>
    <button class="addButton" 
      (click)="handleAddButtonClicked()">
      <i class="fa fa-plus"></i>
    </button>
  </div>
  <hr>
  <div id="panelParent">
    <div id="waitPanel">
      <mat-progress-spinner
        [hidden]="!retrievingNotes"
        [mode]="'indeterminate'">
      </mat-progress-spinner>
    </div>
    <div id="panel" [hidden]="retrievingNotes">
      <app-note *ngFor="let note of filteredNotes;" [model]="note"></app-note>    
    </div>
  </div>
</div>