.test {
  border-left: 6px solid var(--themeRed);
  margin: 20px;
  margin-top: 0px;
  border-right: 1px solid lightgray;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  padding: 8px;
  height: auto;
}

mat-expansion-panel {
  margin: 20px;
  margin-top: 0px;
  border-left: 6px solid var(--themeRed);
  padding-bottom: 0px;
}

input {
  font-size: 16px;
  padding: 5px;
  box-sizing: border-box;
  width: 100%;
  margin-right: 10px
}

.headerLine {
  width: 100%;
  margin: 5px 15px 5px 5px;
  display: grid;
  grid-template-columns: 1fr 30px 30px;
  grid-column-gap: 10px
}

#remainingTimeLabel {
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
}

button{
  background: transparent;
  border: none;
  font-size: 18px;
  padding: 5px;
  margin-top: 5px;
}

::ng-deep .mat-expansion-indicator::after {
  height: 2px;
  width: 2px;
}

::ng-deep .mat-expansion-indicator {
  padding-bottom: 4px;
}

.fa-times {
  color: var(--themeRed);
}

:host ::ng-deep .ck-editor__editable_inline {
  border-top: none;
}

#deleteButton {
  float: right;
}

#textAreaDiv { 
  padding: 5px;
  height: 300px;
}