.container {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: auto 1fr;
  margin: 0px;
  padding: 0px;
  height: 100%;
}

app-notification-list {
  position: absolute;
  right: 30px;
  bottom: 10px;
  width: 400px;
  height: auto;
}

button {
  background: transparent;
  border: none;
  height: 32px; 
  width: 32px;
  font-size: 22px;
  margin-top: 15px;
  margin-left: 5px;
}

.fa-angle-right, .fa-angle-left {
  color: var(--themeDarkGray);
}