.navbar {
  width: 100%;
  background-color: var(--themeDarkGray);
  overflow: auto;
  padding-left: 4px;
  padding-right: 4px;
}

button {
  background: transparent;
  border: none;
  font-size: 20px;
  padding: 8px
}

.user {
  float: right;
}

.fa-user {
  color: var(--themeRed);
}

.fa-bars {
  color: var(--themeRed);
}