<mat-dialog-content id=content 
  class="mat-typography" 
  (keydown.esc)="handleCloseButtonClicked($event)"
  (keydown.control.s)="handleSaveShortcut($event)"
  (keydown.control.Enter)="handleSaveAndCloseShortcut()">
  <div #container id="noteContainer" 
    [className]="isExpanded ? 'dialogExpanded' : 'dialogNormal'">
    <div #headerLine class="headerLine">
      <button id="expandButton" (click)="handleExpandButtonClicked()" style="grid-column: 2">
        <i class="fa fa-expand" aria-hidden="true"></i>
      </button>
      <button id="closeButton" (click)="handleCloseButtonClicked()">
        <i class="fa fa-times" aria-hidden="true" style="grid-column: 3"></i>
      </button>
    </div>
    <div id="titleArea" #titleAreaDiv>
      <label id="titleLabel">{{ 'General.Title' | translate }}:</label>
      <input [className]="titleError == null ? 'hiddenInput' : 'invalid'"
        type="text" id="titleInput"
        placeholder="{{titleError == null ? ('General.Title' | translate) : titleError}}"
        (input)="handleTitleChanged()"  
        [(ngModel)] ="model.title" #titleInput/>
    </div>
    <div id="propertyArea" #propertyAreaDiv>
      <label class="propertyLabel" style="grid-row: 1">
        {{ 'NoteDialogComponent.DueDate' | translate }}:
      </label>
      <app-date-picker [minDate]="now" 
        style="grid-row: 1"
        (dateChanged)="handleDateChanged($event)"
        [selectedDate] ="model.dueDate">
      </app-date-picker>
      <label class="propertyLabel" style="grid-row: 1">
        {{ 'NoteDialogComponent.Tags' | translate }}:
      </label>
      <app-tag-list style="grid-row: 1 / 4"
        (tagsChanged)="handleTagsChanged($event)"
        [tags]="model.tags">
      </app-tag-list>
      <label class="propertyLabel" style="grid-row: 2">
        {{ 'NoteDialogComponent.Priority' | translate }}:
      </label>
      <app-combo-box style="grid-row: 2" 
        (selectedValueChanged)="onPriorityChanged($event)"
        [enumType]="priorityEnumType"
        [selectedValue]="model.priority">
      </app-combo-box>
    </div>
    <div #textAreaDiv [className]="isExpanded ? 'textAreaExpanded' : 'textAreaNormal'">
      <ckeditor id="textEditor" [(ngModel)]="model.text" [editor]="editor"></ckeditor>
    </div>
  </div>
</mat-dialog-content>