<div class="test" 
    (focusout)=onFocusLeaving()
    (pointerenter)="onPointerEnter()" 
    (pointerleave)="onPointerLeave()"
    (keydown.control.s)="handleSaveShortcut($event)"
    (dblclick)="openEditDialog()">
    <div class="headerLine">
        <input i18n-placeholder [className]="hasError ? 'invalid' : 'hiddenInput'"
            type="text" 
            placeholder="Titel"
            (input)="onTitleChanged()"  
            [(ngModel)] ="note.title" #titleInput/>
        <button (click)="onDeleteButtonClicked()">
            <i class="fa fa-times" aria-hidden="true"></i>
        </button>
    </div>
    <div id="textAreaDiv">
        <textarea 
            (input)="onTextAreaValueChanged($event.target.value)" 
            oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"'>{{note.text}}</textarea>
    </div>
</div>