.test {
    border-left: 6px solid var(--themeRed);
    margin: 20px;
    margin-top: 0px;
    border-right: 1px solid lightgray;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    padding: 8px;
    height: auto;
}

input {
    border:  none;
    font-size: 16px;
    padding: 5px;
    box-sizing: border-box;
    width: 100%;
    margin-right: 10px
}

textarea {
    width: 100%; 
    height: 100%;
    resize: vertical;
    max-height: 500px;
    min-height: 100px
}

.headerLine {
    margin: 5px 5px 0px 10px;
    display: grid;
    grid-template-columns: 1fr 30px;
    grid-column-gap: 10px
}

button{
    background: transparent;
    border: none;
    font-size: 18px;
    padding-bottom: 5px
}

.fa-times {
    color: var(--themeRed);
  }